.actile {
  position: absolute;
  display: block;
  transition: all 1s;
  transform-origin: top left;
}

/* Fallback: actiles may not be square here */
.actile {
  width:  100%;
  height: 20%;
}

/* Tile container. */
.act-0,
.act-1,
.act-2,
.act-3,
.act-4,
.act-5,
.act-6,
.act- {
  overflow: hidden;
}

@media screen and (min-aspect-ratio: 5/14) {

/* Portrait: At exactly 5/14, actiles are square */
.actile {
  width:  100%;
  height: 35.714%;
}

}

@media screen and (min-aspect-ratio: 5/11) {

/* Portrait: At exactly 5/11, actiles are square */
.actile {
  width:  100%;
  height: 45.454%;
}

}

@media screen and (min-aspect-ratio: 5/9) {

/* Portrait: At exactly 5/9, actiles are square */
.actile {
  width:  100%;
  height: 55.555%;
}

}

@media screen and (min-aspect-ratio: 5/8) {

/* Portrait: At exactly 5/8, actiles are square */
.actile {
  width:  100%;
  height: 62.5%;
}

}

@media screen and (min-aspect-ratio: 5/7) {

/* Portrait: At exactly 5/7, actiles are square */
.actile {
  width:  100%;
  height: 71.428%;
}

}

@media screen and (min-aspect-ratio: 5/6) {

/* Portrait: At exactly 5/6, actiles are square */
.actile {
  width:  100%;
  height: 83.333%;
}

}

@media screen and (min-aspect-ratio: 5/5) {

/* Square: At exactly 5/5, actiles are square */
.actile {
  width:  80%;
  height: 80%;
}

}

@media screen and (min-aspect-ratio: 6/5) {

/* Landscape: At exactly 6/5, actiles are square */
.actile {
  width:  83.333%;
  height: 100%;
}
/* When tile 0 is active */
.act-0 .tile-0 {
  left:0%; top:0%; 
  transform: scale(1, 1); 
}
.act-0 .tile-1 {
  left:83.333%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-0 .tile-2 {
  left:91.666%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-0 .tile-3 {
  left:83.333%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-0 .tile-4 {
  left:91.666%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-0 .tile-5 {
  left:83.333%; top:19.999%;
  transform: scale(0.099, 0.099);
}
.act-0 .tile-6 {
  left:91.666%; top:19.999%;
  transform: scale(0.099, 0.099);
}
/* When tile 1 is active */
.act-1 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.074, 0.074);
}
.act-1 .tile-1 {
  left:6.249%; top:0%; 
  transform: scale(1, 1); 
}
.act-1 .tile-2 {
  left:89.583%; top:0%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-3 {
  left:89.583%; top:12.499%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-4 {
  left:89.583%; top:24.999%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-5 {
  left:89.583%; top:37.499%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-6 {
  left:89.583%; top:49.999%;
  transform: scale(0.124, 0.124);
}
/* When tile 2 is active */
.act-2 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-2 .tile-1 {
  left:0%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-2 .tile-2 {
  left:8.333%; top:0%; 
  transform: scale(1, 1); 
}
.act-2 .tile-3 {
  left:91.666%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-2 .tile-4 {
  left:91.666%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-2 .tile-5 {
  left:91.666%; top:19.999%;
  transform: scale(0.099, 0.099);
}
.act-2 .tile-6 {
  left:91.666%; top:29.999%;
  transform: scale(0.099, 0.099);
}
/* When tile 3 is active */
.act-3 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-3 .tile-1 {
  left:0%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-3 .tile-2 {
  left:0%; top:19.999%;
  transform: scale(0.099, 0.099);
}
.act-3 .tile-3 {
  left:8.333%; top:0%; 
  transform: scale(1, 1); 
}
.act-3 .tile-4 {
  left:91.666%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-3 .tile-5 {
  left:91.666%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-3 .tile-6 {
  left:91.666%; top:19.999%;
  transform: scale(0.099, 0.099);
}
/* When tile 4 is active */
.act-4 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-4 .tile-1 {
  left:0%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-4 .tile-2 {
  left:0%; top:19.999%;
  transform: scale(0.099, 0.099);
}
.act-4 .tile-3 {
  left:0%; top:29.999%;
  transform: scale(0.099, 0.099);
}
.act-4 .tile-4 {
  left:8.333%; top:0%; 
  transform: scale(1, 1); 
}
.act-4 .tile-5 {
  left:91.666%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-4 .tile-6 {
  left:91.666%; top:9.999%;
  transform: scale(0.099, 0.099);
}
/* When tile 5 is active */
.act-5 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-1 {
  left:0%; top:12.499%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-2 {
  left:0%; top:24.999%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-3 {
  left:0%; top:37.499%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-4 {
  left:0%; top:49.999%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-5 {
  left:10.416%; top:0%; 
  transform: scale(1, 1); 
}
.act-5 .tile-6 {
  left:93.75%; top:0%;
  transform: scale(0.074, 0.074);
}
/* When tile 6 is active */
.act-6 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-6 .tile-1 {
  left:8.333%; top:0%;
  transform: scale(0.099, 0.099);
}
.act-6 .tile-2 {
  left:0%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-6 .tile-3 {
  left:8.333%; top:9.999%;
  transform: scale(0.099, 0.099);
}
.act-6 .tile-4 {
  left:0%; top:19.999%;
  transform: scale(0.099, 0.099);
}
.act-6 .tile-5 {
  left:8.333%; top:19.999%;
  transform: scale(0.099, 0.099);
}
.act-6 .tile-6 {
  left:16.666%; top:0%; 
  transform: scale(1, 1); 
}

}

@media screen and (min-aspect-ratio: 7/5) {

/* Landscape: At exactly 7/5, actiles are square */
.actile {
  width:  71.428%;
  height: 100%;
}
/* When tile 0 is active */
.act-0 .tile-0 {
  left:0%; top:0%; 
  transform: scale(1, 1); 
}
.act-0 .tile-1 {
  left:71.428%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-0 .tile-2 {
  left:85.714%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-0 .tile-3 {
  left:71.428%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-0 .tile-4 {
  left:85.714%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-0 .tile-5 {
  left:71.428%; top:40%;
  transform: scale(0.199, 0.199);
}
.act-0 .tile-6 {
  left:85.714%; top:40%;
  transform: scale(0.199, 0.199);
}
/* When tile 1 is active */
.act-1 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.15, 0.15);
}
.act-1 .tile-1 {
  left:10.714%; top:0%; 
  transform: scale(1, 1); 
}
.act-1 .tile-2 {
  left:82.142%; top:0%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-3 {
  left:91.071%; top:0%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-4 {
  left:82.142%; top:12.499%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-5 {
  left:91.071%; top:12.499%;
  transform: scale(0.124, 0.124);
}
.act-1 .tile-6 {
  left:82.142%; top:24.999%;
  transform: scale(0.124, 0.124);
}
/* When tile 2 is active */
.act-2 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-1 {
  left:0%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-2 {
  left:14.285%; top:0%; 
  transform: scale(1, 1); 
}
.act-2 .tile-3 {
  left:85.714%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-4 {
  left:85.714%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-5 {
  left:85.714%; top:40%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-6 {
  left:85.714%; top:60%;
  transform: scale(0.199, 0.199);
}
/* When tile 3 is active */
.act-3 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-1 {
  left:0%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-2 {
  left:0%; top:40%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-3 {
  left:14.285%; top:0%; 
  transform: scale(1, 1); 
}
.act-3 .tile-4 {
  left:85.714%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-5 {
  left:85.714%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-6 {
  left:85.714%; top:40%;
  transform: scale(0.199, 0.199);
}
/* When tile 4 is active */
.act-4 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-1 {
  left:0%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-2 {
  left:0%; top:40%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-3 {
  left:0%; top:60%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-4 {
  left:14.285%; top:0%; 
  transform: scale(1, 1); 
}
.act-4 .tile-5 {
  left:85.714%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-6 {
  left:85.714%; top:20%;
  transform: scale(0.199, 0.199);
}
/* When tile 5 is active */
.act-5 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-1 {
  left:8.928%; top:0%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-2 {
  left:0%; top:12.499%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-3 {
  left:8.928%; top:12.499%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-4 {
  left:0%; top:24.999%;
  transform: scale(0.124, 0.124);
}
.act-5 .tile-5 {
  left:17.857%; top:0%; 
  transform: scale(1, 1); 
}
.act-5 .tile-6 {
  left:89.285%; top:0%;
  transform: scale(0.15, 0.15);
}
/* When tile 6 is active */
.act-6 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-6 .tile-1 {
  left:14.285%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-6 .tile-2 {
  left:0%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-6 .tile-3 {
  left:14.285%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-6 .tile-4 {
  left:0%; top:40%;
  transform: scale(0.199, 0.199);
}
.act-6 .tile-5 {
  left:14.285%; top:40%;
  transform: scale(0.199, 0.199);
}
.act-6 .tile-6 {
  left:28.571%; top:0%; 
  transform: scale(1, 1); 
}

}

@media screen and (min-aspect-ratio: 8/5) {

/* Landscape: At exactly 8/5, actiles are square */
.actile {
  width:  62.5%;
  height: 100%;
}
/* When tile 0 is active */
.act-0 .tile-0 {
  left:0%; top:0%; 
  transform: scale(1, 1); 
}
.act-0 .tile-1 {
  left:62.5%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-0 .tile-2 {
  left:81.25%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-0 .tile-3 {
  left:62.5%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-0 .tile-4 {
  left:81.25%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-0 .tile-5 {
  left:62.5%; top:60%;
  transform: scale(0.3, 0.3);
}
.act-0 .tile-6 {
  left:81.25%; top:60%;
  transform: scale(0.3, 0.3);
}
/* When tile 1 is active */
.act-1 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.225, 0.225);
}
.act-1 .tile-1 {
  left:14.062%; top:0%; 
  transform: scale(1, 1); 
}
.act-1 .tile-2 {
  left:76.562%; top:0%;
  transform: scale(0.187, 0.187);
}
.act-1 .tile-3 {
  left:88.281%; top:0%;
  transform: scale(0.187, 0.187);
}
.act-1 .tile-4 {
  left:76.562%; top:18.75%;
  transform: scale(0.187, 0.187);
}
.act-1 .tile-5 {
  left:88.281%; top:18.75%;
  transform: scale(0.187, 0.187);
}
.act-1 .tile-6 {
  left:76.562%; top:37.5%;
  transform: scale(0.187, 0.187);
}
/* When tile 2 is active */
.act-2 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-2 .tile-1 {
  left:0%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-2 .tile-2 {
  left:18.75%; top:0%; 
  transform: scale(1, 1); 
}
.act-2 .tile-3 {
  left:81.25%; top:0%;
  transform: scale(0.15, 0.15);
}
.act-2 .tile-4 {
  left:90.625%; top:0%;
  transform: scale(0.15, 0.15);
}
.act-2 .tile-5 {
  left:81.25%; top:15%;
  transform: scale(0.15, 0.15);
}
.act-2 .tile-6 {
  left:90.625%; top:15%;
  transform: scale(0.15, 0.15);
}
/* When tile 3 is active */
.act-3 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-1 {
  left:0%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-2 {
  left:0%; top:60%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-3 {
  left:18.75%; top:0%; 
  transform: scale(1, 1); 
}
.act-3 .tile-4 {
  left:81.25%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-5 {
  left:81.25%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-6 {
  left:81.25%; top:60%;
  transform: scale(0.3, 0.3);
}
/* When tile 4 is active */
.act-4 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.15, 0.15);
}
.act-4 .tile-1 {
  left:9.375%; top:0%;
  transform: scale(0.15, 0.15);
}
.act-4 .tile-2 {
  left:0%; top:15%;
  transform: scale(0.15, 0.15);
}
.act-4 .tile-3 {
  left:9.375%; top:15%;
  transform: scale(0.15, 0.15);
}
.act-4 .tile-4 {
  left:18.75%; top:0%; 
  transform: scale(1, 1); 
}
.act-4 .tile-5 {
  left:81.25%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-4 .tile-6 {
  left:81.25%; top:30%;
  transform: scale(0.3, 0.3);
}
/* When tile 5 is active */
.act-5 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.187, 0.187);
}
.act-5 .tile-1 {
  left:11.718%; top:0%;
  transform: scale(0.187, 0.187);
}
.act-5 .tile-2 {
  left:0%; top:18.75%;
  transform: scale(0.187, 0.187);
}
.act-5 .tile-3 {
  left:11.718%; top:18.75%;
  transform: scale(0.187, 0.187);
}
.act-5 .tile-4 {
  left:0%; top:37.5%;
  transform: scale(0.187, 0.187);
}
.act-5 .tile-5 {
  left:23.437%; top:0%; 
  transform: scale(1, 1); 
}
.act-5 .tile-6 {
  left:85.937%; top:0%;
  transform: scale(0.225, 0.225);
}
/* When tile 6 is active */
.act-6 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-6 .tile-1 {
  left:18.75%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-6 .tile-2 {
  left:0%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-6 .tile-3 {
  left:18.75%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-6 .tile-4 {
  left:0%; top:60%;
  transform: scale(0.3, 0.3);
}
.act-6 .tile-5 {
  left:18.75%; top:60%;
  transform: scale(0.3, 0.3);
}
.act-6 .tile-6 {
  left:37.5%; top:0%; 
  transform: scale(1, 1); 
}

}

@media screen and (min-aspect-ratio: 9/5) {

/* Landscape: At exactly 9/5, actiles are square */
.actile {
  width:  55.555%;
  height: 100%;
}
/* When tile 0 is active */
.act-0 .tile-0 {
  left:0%; top:0%; 
  transform: scale(1, 1); 
}
.act-0 .tile-1 {
  left:55.555%; top:0%;
  transform: scale(0.266, 0.266);
}
.act-0 .tile-2 {
  left:70.370%; top:0%;
  transform: scale(0.266, 0.266);
}
.act-0 .tile-3 {
  left:85.185%; top:0%;
  transform: scale(0.266, 0.266);
}
.act-0 .tile-4 {
  left:55.555%; top:26.666%;
  transform: scale(0.266, 0.266);
}
.act-0 .tile-5 {
  left:70.370%; top:26.666%;
  transform: scale(0.266, 0.266);
}
.act-0 .tile-6 {
  left:85.185%; top:26.666%;
  transform: scale(0.266, 0.266);
}
/* When tile 1 is active */
.act-1 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-1 .tile-1 {
  left:16.666%; top:0%; 
  transform: scale(1, 1); 
}
.act-1 .tile-2 {
  left:72.222%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-3 {
  left:86.111%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-4 {
  left:72.222%; top:25%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-5 {
  left:86.111%; top:25%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-6 {
  left:72.222%; top:50%;
  transform: scale(0.25, 0.25);
}
/* When tile 2 is active */
.act-2 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-2 .tile-1 {
  left:0%; top:40%;
  transform: scale(0.399, 0.399);
}
.act-2 .tile-2 {
  left:22.222%; top:0%; 
  transform: scale(1, 1); 
}
.act-2 .tile-3 {
  left:77.777%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-4 {
  left:88.888%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-5 {
  left:77.777%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-2 .tile-6 {
  left:88.888%; top:20%;
  transform: scale(0.199, 0.199);
}
/* When tile 3 is active */
.act-3 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-1 {
  left:11.111%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-2 {
  left:0%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-3 {
  left:22.222%; top:0%; 
  transform: scale(1, 1); 
}
.act-3 .tile-4 {
  left:77.777%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-5 {
  left:88.888%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-3 .tile-6 {
  left:77.777%; top:20%;
  transform: scale(0.199, 0.199);
}
/* When tile 4 is active */
.act-4 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-1 {
  left:11.111%; top:0%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-2 {
  left:0%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-3 {
  left:11.111%; top:20%;
  transform: scale(0.199, 0.199);
}
.act-4 .tile-4 {
  left:22.222%; top:0%; 
  transform: scale(1, 1); 
}
.act-4 .tile-5 {
  left:77.777%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-4 .tile-6 {
  left:77.777%; top:40%;
  transform: scale(0.399, 0.399);
}
/* When tile 5 is active */
.act-5 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-1 {
  left:13.888%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-2 {
  left:0%; top:25%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-3 {
  left:13.888%; top:25%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-4 {
  left:0%; top:50%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-5 {
  left:27.777%; top:0%; 
  transform: scale(1, 1); 
}
.act-5 .tile-6 {
  left:83.333%; top:0%;
  transform: scale(0.3, 0.3);
}
/* When tile 6 is active */
.act-6 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.266, 0.266);
}
.act-6 .tile-1 {
  left:14.814%; top:0%;
  transform: scale(0.266, 0.266);
}
.act-6 .tile-2 {
  left:29.629%; top:0%;
  transform: scale(0.266, 0.266);
}
.act-6 .tile-3 {
  left:0%; top:26.666%;
  transform: scale(0.266, 0.266);
}
.act-6 .tile-4 {
  left:14.814%; top:26.666%;
  transform: scale(0.266, 0.266);
}
.act-6 .tile-5 {
  left:29.629%; top:26.666%;
  transform: scale(0.266, 0.266);
}
.act-6 .tile-6 {
  left:44.444%; top:0%; 
  transform: scale(1, 1); 
}

}

@media screen and (min-aspect-ratio: 11/5) {

/* Landscape: At exactly 11/5, actiles are square */
.actile {
  width:  45.454%;
  height: 100%;
}
/* When tile 0 is active */
.act-0 .tile-0 {
  left:0%; top:0%; 
  transform: scale(1, 1); 
}
.act-0 .tile-1 {
  left:45.454%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-0 .tile-2 {
  left:63.636%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-0 .tile-3 {
  left:81.818%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-0 .tile-4 {
  left:45.454%; top:40%;
  transform: scale(0.399, 0.399);
}
.act-0 .tile-5 {
  left:63.636%; top:40%;
  transform: scale(0.399, 0.399);
}
.act-0 .tile-6 {
  left:81.818%; top:40%;
  transform: scale(0.399, 0.399);
}
/* When tile 1 is active */
.act-1 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-1 .tile-1 {
  left:20.454%; top:0%; 
  transform: scale(1, 1); 
}
.act-1 .tile-2 {
  left:65.909%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-3 {
  left:77.272%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-4 {
  left:88.636%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-5 {
  left:65.909%; top:25%;
  transform: scale(0.25, 0.25);
}
.act-1 .tile-6 {
  left:77.272%; top:25%;
  transform: scale(0.25, 0.25);
}
/* When tile 2 is active */
.act-2 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-2 .tile-1 {
  left:13.636%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-2 .tile-2 {
  left:27.272%; top:0%; 
  transform: scale(1, 1); 
}
.act-2 .tile-3 {
  left:72.727%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-2 .tile-4 {
  left:86.363%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-2 .tile-5 {
  left:72.727%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-2 .tile-6 {
  left:86.363%; top:30%;
  transform: scale(0.3, 0.3);
}
/* When tile 3 is active */
.act-3 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-1 {
  left:13.636%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-2 {
  left:0%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-3 {
  left:27.272%; top:0%; 
  transform: scale(1, 1); 
}
.act-3 .tile-4 {
  left:72.727%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-5 {
  left:86.363%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-3 .tile-6 {
  left:72.727%; top:30%;
  transform: scale(0.3, 0.3);
}
/* When tile 4 is active */
.act-4 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-4 .tile-1 {
  left:13.636%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-4 .tile-2 {
  left:0%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-4 .tile-3 {
  left:13.636%; top:30%;
  transform: scale(0.3, 0.3);
}
.act-4 .tile-4 {
  left:27.272%; top:0%; 
  transform: scale(1, 1); 
}
.act-4 .tile-5 {
  left:72.727%; top:0%;
  transform: scale(0.3, 0.3);
}
.act-4 .tile-6 {
  left:86.363%; top:0%;
  transform: scale(0.3, 0.3);
}
/* When tile 5 is active */
.act-5 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-1 {
  left:11.363%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-2 {
  left:22.727%; top:0%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-3 {
  left:0%; top:25%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-4 {
  left:11.363%; top:25%;
  transform: scale(0.25, 0.25);
}
.act-5 .tile-5 {
  left:34.090%; top:0%; 
  transform: scale(1, 1); 
}
.act-5 .tile-6 {
  left:79.545%; top:0%;
  transform: scale(0.449, 0.449);
}
/* When tile 6 is active */
.act-6 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-6 .tile-1 {
  left:18.181%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-6 .tile-2 {
  left:36.363%; top:0%;
  transform: scale(0.399, 0.399);
}
.act-6 .tile-3 {
  left:0%; top:40%;
  transform: scale(0.399, 0.399);
}
.act-6 .tile-4 {
  left:18.181%; top:40%;
  transform: scale(0.399, 0.399);
}
.act-6 .tile-5 {
  left:36.363%; top:40%;
  transform: scale(0.399, 0.399);
}
.act-6 .tile-6 {
  left:54.545%; top:0%; 
  transform: scale(1, 1); 
}

}

@media screen and (min-aspect-ratio: 14/5) {

/* Landscape: At exactly 14/5, actiles are square */
.actile {
  width:  35.714%;
  height: 100%;
}
/* When tile 0 is active */
.act-0 .tile-0 {
  left:0%; top:0%; 
  transform: scale(1, 1); 
}
.act-0 .tile-1 {
  left:35.714%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-0 .tile-2 {
  left:51.785%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-0 .tile-3 {
  left:67.857%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-0 .tile-4 {
  left:83.928%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-0 .tile-5 {
  left:35.714%; top:44.999%;
  transform: scale(0.449, 0.449);
}
.act-0 .tile-6 {
  left:51.785%; top:44.999%;
  transform: scale(0.449, 0.449);
}
/* When tile 1 is active */
.act-1 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.674, 0.674);
}
.act-1 .tile-1 {
  left:24.107%; top:0%; 
  transform: scale(1, 1); 
}
.act-1 .tile-2 {
  left:59.821%; top:0%;
  transform: scale(0.375, 0.375);
}
.act-1 .tile-3 {
  left:73.214%; top:0%;
  transform: scale(0.375, 0.375);
}
.act-1 .tile-4 {
  left:86.607%; top:0%;
  transform: scale(0.375, 0.375);
}
.act-1 .tile-5 {
  left:59.821%; top:37.499%;
  transform: scale(0.375, 0.375);
}
.act-1 .tile-6 {
  left:73.214%; top:37.499%;
  transform: scale(0.375, 0.375);
}
/* When tile 2 is active */
.act-2 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-2 .tile-1 {
  left:16.071%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-2 .tile-2 {
  left:32.142%; top:0%; 
  transform: scale(1, 1); 
}
.act-2 .tile-3 {
  left:67.857%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-2 .tile-4 {
  left:83.928%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-2 .tile-5 {
  left:67.857%; top:44.999%;
  transform: scale(0.449, 0.449);
}
.act-2 .tile-6 {
  left:83.928%; top:44.999%;
  transform: scale(0.449, 0.449);
}
/* When tile 3 is active */
.act-3 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-3 .tile-1 {
  left:16.071%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-3 .tile-2 {
  left:0%; top:44.999%;
  transform: scale(0.449, 0.449);
}
.act-3 .tile-3 {
  left:32.142%; top:0%; 
  transform: scale(1, 1); 
}
.act-3 .tile-4 {
  left:67.857%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-3 .tile-5 {
  left:83.928%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-3 .tile-6 {
  left:67.857%; top:44.999%;
  transform: scale(0.449, 0.449);
}
/* When tile 4 is active */
.act-4 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-4 .tile-1 {
  left:16.071%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-4 .tile-2 {
  left:0%; top:44.999%;
  transform: scale(0.449, 0.449);
}
.act-4 .tile-3 {
  left:16.071%; top:44.999%;
  transform: scale(0.449, 0.449);
}
.act-4 .tile-4 {
  left:32.142%; top:0%; 
  transform: scale(1, 1); 
}
.act-4 .tile-5 {
  left:67.857%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-4 .tile-6 {
  left:83.928%; top:0%;
  transform: scale(0.449, 0.449);
}
/* When tile 5 is active */
.act-5 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.375, 0.375);
}
.act-5 .tile-1 {
  left:13.392%; top:0%;
  transform: scale(0.375, 0.375);
}
.act-5 .tile-2 {
  left:26.785%; top:0%;
  transform: scale(0.375, 0.375);
}
.act-5 .tile-3 {
  left:0%; top:37.499%;
  transform: scale(0.375, 0.375);
}
.act-5 .tile-4 {
  left:13.392%; top:37.499%;
  transform: scale(0.375, 0.375);
}
.act-5 .tile-5 {
  left:40.178%; top:0%; 
  transform: scale(1, 1); 
}
.act-5 .tile-6 {
  left:75.892%; top:0%;
  transform: scale(0.674, 0.674);
}
/* When tile 6 is active */
.act-6 .tile-0 {
  left:0%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-6 .tile-1 {
  left:16.071%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-6 .tile-2 {
  left:32.142%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-6 .tile-3 {
  left:48.214%; top:0%;
  transform: scale(0.449, 0.449);
}
.act-6 .tile-4 {
  left:0%; top:44.999%;
  transform: scale(0.449, 0.449);
}
.act-6 .tile-5 {
  left:16.071%; top:44.999%;
  transform: scale(0.449, 0.449);
}
.act-6 .tile-6 {
  left:64.285%; top:0%; 
  transform: scale(1, 1); 
}

}
